$color-grid: rgb(255, 255, 255);
$color-grid-alternate: rgb(0, 0, 0);

$color-unplaceable: rgb(255, 0, 0);
$color-placeable: rgb(255, 255, 0);
$color-place: rgb(0, 255, 0);

$color-piece-white: rgb(255, 255, 255);
$color-piece-black: rgb(0, 0, 0);

$color-border: rgb(0, 0, 0);

$cell-size: 50px;

$border: 2px solid $color-border;

.chessboard {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border: $border;
	border-collapse: collapse;
	margin: 1em;
	user-select: none;

	.cell {
		cursor: default;
		height: $cell-size;
		line-height: $cell-size;
		text-align: center;
		width: $cell-size;

		&.label { font-weight: bold; }

		&.grid {
			padding: 0;

			&.white {
				background-color: $color-grid;
				color: $color-grid-alternate;
			}

			&.black {
				background-color: $color-grid-alternate;
				color: $color-grid;
			}
		}

		.square,
		.piece {
			height: 100%;
			position: relative;
			width: 100%;
		}

		.piece {
			border: 1px solid;
			border-radius: 50%;
			cursor: move;
			max-height: $cell-size;
			max-width: $cell-size;
			// top: -1px;
			// left: -1px;
			// width: calc(100% - 2px);
			// height: calc(100% - 2px);

			&.black {
				background-color: $color-piece-black;
				border-color: $color-piece-white;
				color: $color-piece-white;
			}

			&.white {
				background-color: $color-piece-white;
				border-color: $color-piece-black;
				color: $color-piece-black;
			}
		}

		.square {
			.available {
				height: 100%;
				left: 0;
				opacity: .5;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;

				&.unplaceable { background-color: $color-unplaceable; }
				&.place { background-color: $color-place; }
				&.placeable { background-color: $color-placeable; }
			}
		}
	}

	.row {
		&:not(:first-child):not(:last-child) {
			.cell {
				&:first-child { border-right: $border; }
				&:last-child { border-left: $border; }
			}
		}

		&:first-child {
			.cell:not(:first-child):not(:last-child) {
				border-bottom: $border;
			}
		}

		&:last-child {
			.cell:not(:first-child):not(:last-child) {
				border-top: $border;
			}
		}
	}
}
