$color-grid: rgb(255, 255, 255);
$color-grid-alternate: rgb(0, 0, 0);

$color-grid-brown: rgb(124, 76, 62);
$color-grid-brown-alternate: rgb(81, 42, 42);

$color-grid-gray: rgb(89, 89, 89);
$color-grid-gray-alternate: rgb(54, 54, 54);

$color-unplaceable: rgb(255, 0, 0);
$color-placeable: rgb(255, 255, 0);
$color-place: rgb(0, 255, 0);

$color-piece-white: rgb(255, 255, 255);
$color-piece-black: rgb(0, 0, 0);

$color-border: rgb(0, 0, 0);

$cell-size: 50px;

$border: 2px solid $color-border;

$panel-width: 250px;

$img-grid-wood: url('imgs/wood2.png');
$img-grid-wood-alternate: url('imgs/wood1.png');

$img-unplaceable: url('imgs/unplaceable.png');
$img-placeable: url('imgs/placeable.png');
$img-place: url('imgs/place.png');
