$color-grid: rgb(255, 255, 255);
$color-grid-alternate: rgb(0, 0, 0);

$color-unplaceable: rgb(255, 0, 0);
$color-placeable: rgb(255, 255, 0);
$color-place: rgb(0, 255, 0);

$color-piece-white: rgb(255, 255, 255);
$color-piece-black: rgb(0, 0, 0);

$color-border: rgb(0, 0, 0);

$cell-size: 50px;

$border: 2px solid $color-border;

$panel-width: 250px;
