@import '../../../scss/vars';
@import '../../../scss/mixins';

.chess-card {
	border-radius: 0;
	padding: 0;
}

.chess {
	@include select(none);

	border-collapse: collapse;
	font-family: $font-board;

	tr {
		td {
			height: $cell-size;
			line-height: $cell-size;

			position: relative;
			text-align: center;
			vertical-align: middle;
			width: $cell-size;

			span {
				display: inline-block;

				&.note {
					bottom: 0;
					font-size: $note-size;
					left: 0;
					line-height: $note-size;
					opacity: .9;
					padding: .2rem;
					pointer-events: none;
					position: absolute;
				}
			}

			&.color {
				&.light {
					background-color: $cell-color-light;
					color: darken($cell-color-dark, 20%);
				}

				&.dark {
					background-color: $cell-color-dark;
					color: lighten($cell-color-light, 20%);
				}
			}
		}
	}

	.piece {
		cursor: move;
		height: 100%;
		width: 100%;

		.dragging {
			opacity: .5;
		}
	}
}
