@import 'vars';
@import 'table';

.game-info-panel {
	height: 100%;
	position: relative;
	width: $panel-width;

	.panel-actions {
		bottom: 0;
		margin-bottom: 4px;
		position: absolute;
		width: 100%;

		@media (min-width: 600px) {
			margin-bottom: 12px;
		}

		button {
			margin: auto;
		}
	}

	.list {
		max-height: $panel-width;
		overflow-y: auto;

		.item {
			margin-bottom: 2px;
			padding-bottom: 2px;
			padding-left: 0;
			padding-top: 2px;

			.text {
				width: calc(100% - 40px / 2);
			}
		}
	}
}

