@import '../../../scss/vars';
@import '../../../scss/mixins';

.chess-card {
	padding: 0;
}

.chess {
	@include select(none);

	border-collapse: collapse;
	font-family: $font-board;

	tr {
		td {
			height: $cell-size;
			line-height: $cell-size;

			max-height:  $cell-size;
			position: relative;
			text-align: center;
			vertical-align: middle;
			width: $cell-size;

			img {
				display: block;
				margin: auto;
				position: relative;
			}

			span {
				display: inline-block;

				&.note {
					bottom: 0;
					font-size: $note-size;
					left: 0;
					line-height: $note-size;
					opacity: .8;
					padding: .18rem;
					pointer-events: none;
					position: absolute;
				}
			}

			.overlay {
				height: 100%;
				left: 0;
				opacity: .5;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;

				&.deny { background-color: $drag-deny; }
				&.available { background-color:  $drag-available; }
				&.valid { background-color: $drag-valid; }
			}

			&.color {
				&.light {
					background-color: $cell-color-light;
					color: darken($cell-color-dark, 20%);
				}

				&.dark {
					background-color: $cell-color-dark;
					color: lighten($cell-color-light, 20%);
				}
			}
		}
	}

	.piece {
		cursor: move;

		.dragging {
			opacity: $drag-opacity;
		}
	}
}
